<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" th:href="@{/icon/img.png}" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>여깄장학 어드민</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
  <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script> <!-- 수정된 스크립트 링크 -->
  <style>
    .table-container {
      overflow-x: auto;
    }
  </style>
</head>
<body>
<th:block th:fragment="list">
  <div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#csvUploadModal">
        장학금 수정
      </button>
    </div>

    <div class="table-container">
      <table class="table table-bordered text-center">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>자격제한</th>
          <th>특정자격</th>
          <th>학년구분</th>
          <th>성적기준</th>
          <th>홈페이지 주소</th>
          <th>소득기준</th>
          <th>지역거주여부</th>
          <th>학과구분</th>
          <th>운영기관명</th>
          <th>운영기관구분</th>
          <th>상품명</th>
          <th>추천필요여부</th>
          <th>제출서류</th>
          <th>학자금유형구분</th>
          <th>선발인원</th>
          <th>선발방법</th>
          <th>모집시작일</th>
          <th>모집종료일</th>
          <th>지원내역</th>
          <th>대학구분</th>
          <th>정제된 직전학기 성적 기준</th>
          <th>정제된 전체학기 성적 기준</th>
          <th>정제된 소득 구간 기준</th>
          <th>정제된 지원 내역</th>
          <th>노력지수 레벨</th>
          <th>노력지수 레이블</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${itemPage.content}">
          <td th:text="${row.id}"/>
          <td th:text="${row.eligibilityRestrictionDetails}"/>
          <td th:text="${row.specificQualificationDetails}"/>
          <td th:text="${row.grade}"/>
          <td th:text="${row.gradeDetails}"/>
          <td th:text="${row.homePageUrl}"/>
          <td th:text="${row.incomeDetails}"/>
          <td th:text="${row.localResidencyDetails}"/>
          <td th:text="${row.majorCategory}"/>
          <td th:text="${row.organization}"/>
          <td th:text="${row.organizationType}"/>
          <td th:text="${row.productName}"/>
          <td th:text="${row.recommendationRequiredDetails}"/>
          <td th:text="${row.requiredDocumentDetails}"/>
          <td th:text="${row.scholarshipType}"/>
          <td th:text="${row.selectionCountDetails}"/>
          <td th:text="${row.selectionMethodDetails}"/>
          <td th:text="${#temporals.format(row.startDate, 'yyyy-MM-dd')}"/>
          <td th:text="${#temporals.format(row.endDate, 'yyyy-MM-dd')}"/>
          <td th:text="${row.supportDetails}"/>
          <td th:text="${row.universityCategory}"/>
          <td th:text="${row.formattedLastSemesterGrade}"/>
          <td th:text="${row.formattedTotalSemesterGrade}"/>
          <td th:text="${row.formattedIncome}"/>
          <td th:text="${row.formattedSupportDetails}"/>
          <td th:text="${row.effortLevel}"/>
          <td th:text="${row.effortLabel}"/>
        </tr>
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <th:block th:if="${itemPage.totalPages > 0}">
          <li class="page-item" th:classappend="${itemPage.hasPrevious()} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/admin/list(page=${itemPage.number - 1})}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" th:each="i : ${#numbers.sequence(0, itemPage.totalPages - 1)}"
              th:classappend="${i == itemPage.number} ? 'active' : ''">
            <a class="page-link" th:href="@{/admin/list(page=${i})}" th:text="${i + 1}"></a>
          </li>
          <li class="page-item" th:classappend="${itemPage.hasNext()} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/admin/list(page=${itemPage.number + 1})}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </th:block>
      </ul>
    </nav>
  </div>
</th:block>
<script>
</script>
</body>
</html>
